<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pocket_kitchen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Pocket_Kitchen"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ui.activities.MainActivity" />

        <activity
            android:name=".ui.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.PostAddActivity" />
        <activity android:name=".ui.activities.PostViewActivity" />
        <activity android:name=".ui.activities.Gas_Range_Activity"/>
        <activity android:name=".ui.activities.Recipe_Show_Activity" />
        <activity android:name=".ui.activities.RecipeActivity" />
        <activity android:name=".ui.activities.LoginActivity" />
        <activity android:name=".ui.activities.Refrigerator_MainActivity" />
        <activity android:name=".ui.activities.ColdActivity" />
        <activity android:name=".ui.activities.FreezeActivity" />
        <activity android:name=".ui.activities.Cold_Add_Activity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ui.activities.Freeze_Add_Activity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".ui.dialogs.My_Recipe_ForDialog" />
        <activity android:name=".ui.activities.Notice_Board_MainActivity" />
        <activity android:name=".ui.activities.My_Recipe_add_notice" />
        <activity android:name=".ui.activities.Honey_tip_add_notice" />
        <activity android:name=".ui.dialogs.Honey_tip_ForDialog" />
        <activity android:name=".ui.activities.NoticeActivity" />

        <receiver android:name=".ui.services.AlarmReceiver" />
        <service android:name=".ui.services.NotifyService" />
    </application>

</manifest>